$primary: rgb(167, 19, 19);
$body-bg: rgb(183, 188, 183);

@import "~bootstrap/scss/bootstrap.scss";

$color: steelblue;

.my-flix {
    color: $color;
}

img {
    max-width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.name-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
}

.border {
    border: red 2px solid;
    padding: 12px;

    &:hover {
        border-color: $color;
        cursor: pointer;
    }
}

.open-button {
    border: black 2px solid;
    color: white;
    background-color: $primary;

    &:hover {
        border: black 2px solid;
        color: white;
        background-color: $color;
    }
}

.back-button {
    border: black 2px solid;
    color: white;
    background-color: $primary;

    &:hover {
        border: black 2px solid;
        color: white;
        background-color: $color;
    }
}
